<p>
	<strong>Name:</strong>
	<%= @recipe.name %>
</p>

<p>
	<strong>Ingredients:</strong><br>
	<%= @recipe.recipe_ingredients[0].amount %>
	<%= @recipe.recipe_ingredients[0].unit.name %>
</p>

<p>
	<strong>Directions:</strong><br>
	<%= @recipe.directions %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>